#cover {
	background-image: url(../images/header_BG.png);
	background-position: center;
	background-size: cover;
	height: 100%;
	position: relative;
}

.inner {
	width: 1000px;
	margin: auto;
}

#title {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#content {
	background-image: url(../images/color_bg.png);
	width: 100%;
	padding-bottom: 50px;
	position: relative;
	overflow: hidden;
}

.shirt_content {
	width: 100%;
	margin: auto;
	margin-top: 50px;
}

.shirt {
	width: 55%;
	margin: auto;
}

#title_history {
	font-size: 45px;
	font-family: 'Roboto', sans-serif;
	color: #283f53;
	text-align: center;
	padding-top: 50px;
}
/*  horizontal */
.shirt_reveal {
	width: 55%;
}

.big_shirt {
	width: 100%!important;
}

@media screen and (max-width: 1024px) {
	#title_history {
    	font-size: 23px;
	}

	.shirt {
		width: 45%;
	}

	.shirt_reveal {
		width: 45%;
	}
}

/* termina horizontal */

@media screen and (max-width: 1000px) {
	.inner {
		width: 900px;
	}
}

@media screen and (max-width: 900px) {
	.inner {
		width: 800px;
	}
}

@media screen and (max-width: 800px) {
	.inner {
		width: 700px;
	}
}

@media screen and (max-width: 700px) {
	.inner {
		width: 600px;
	}
}

@media screen and (min-width: 600px) {
	.content {
		height: 110%;
	}
}

@media screen and (max-width: 600px) {
	.inner {
		width: 500px;
	}
}

@media screen and (max-width: 550px) {
	#title {
		width: 380px;
	}
}

@media screen and (max-width: 500px) {
	.inner {
		width: 400px;
	}

	.shirt {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.inner {
		width: 300px;
	}

	#title {
		width: 300px;
	}
}

@media screen and (max-height: 736px) {
	.shirt_content {
		margin-top: 50px;
	}
}

@media screen and (max-height: 530px) {
	.shirt {
		width: 70%;
	}

	#title {
		width: 40%;
	}
}

@media screen and (max-height:414px) {
	.shirt_content {
		margin-top: 0px;
	}

	#title_history {
	    font-size: 33px;
	}
}

@media screen and (max-height: 530px) and (max-width: 360px) {
	#title {
		width: 80%;
	}

	.shirt {
	    width: 90%;
	}
}



