#appned_jersey, #jTitle, #jPlayer, #jRelevant, #jText{
	text-align: center;
}

#jPlayer, #jRelevant, #jText{
	color: #343762;
	font-family: 'Roboto';
	max-width: 800px;
	margin: 0px auto;
}

#jRelevant{
	font-weight: bold;
	margin: 10px auto;
	font-size: 20px;
}

#cJersey {
	margin: 0px auto;
	position: relative;
	max-width: 666px;
	width: 97%;
}

#jTitle img{
	margin: 0px auto;
	max-width: 97%;
}

.jersey{
	position: absolute;
	top:0px;
	left:0px;
	cursor: pointer;
	filter: opacity(50%);
}

.jersey:hover{
	filter: opacity(100%);
}

.reveal img, .jersey img{
	width: 100%;
}

.reveal {
	filter: opacity(5%);
}

.show {
	display: block;
	filter: opacity(100%);
}

.show_shirt {
	width: 50%!important;
	float: left;
}

.show_info {
	width: 50%!important;
	float: left;
}

.button {
	width: 140px;
	height: 50px;
	margin: auto;
	display: none;
	cursor: pointer;
	position: fixed;
	right: 0px;
	top: 200px;
}

#bClose {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 80px;
	height: 80px;
	z-index: 200;
}
			
@media screen and (max-width: 600px) {
	.show_shirt {
		width: 100%!important;
		float: none;
	}

	.show_info {
		width: 100%!important;
		float: none;
	}
}




